header {
    width: 100%;
    height: 300px;
    background-color: #c7c7c7;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.tilo {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    /*background-color: gray;*/
    display: flex;
}

.box1 {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    /*margin-bottom: 5px;*/
}

.boxes {
    box-sizing: border-box;
    height: 49%;
    width: 32.5%;
    background-color: #c7c7c7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    font-size: 50px;
    font-weight: bold;
    /*padding-right: 2px;*/
}


.box2 {
    height: 100%;
    width: 20%;
    background-color: #c7c7c7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}
